@import "compass";

/* Couleurs Logo CICL */
$bleuPale: #71a7cb;
$bleu: #1082ce;
$bleuBorder: #357ebd;
$vert: #009b34;
$rougeFonce: #a6191b;
$jaune: #fcd205;
$orange:#fec503;

*{@include box-sizing(border-box);}

/**********************************
************HEADER*****************
**********************************/

.cover_pic{
    @include background-size(cover);
    color:#fff;
    text-shadow: 0 1px 3px rgba(0,0,0,.5);
    height: 450px;
}
.cloitre{ background:url(../img/Couloir_cloitre_Camille_Lepage.jpg) no-repeat top center fixed;}
.cafet{ background:url(../img/Cafeteria_Camille_Lepage.jpg) no-repeat top center fixed;}
.entreeCouvent{ background:url(../img/Entree_principale_Jolyanne_Gagnon.jpg) no-repeat top center fixed;}
.entreeCouventInside{ background:url(../img/Entree-couvent_Jaiagaia-Ortega.jpg) no-repeat top center fixed;}
.entreeCouventParking{ background:url(../img/casa.jpg) no-repeat top center fixed;}
.viewCouvent{ background:url(../img/view_couvent.jpg) no-repeat top center fixed;}
.aupieddeluniversite{ background:url(../img/aupieddeluniversite.jpg) no-repeat top center fixed;}
.leglise{ background:url(../img/leglise.jpg) no-repeat top center fixed;}
header{
    background:url(../img/casa.jpg) no-repeat top center fixed;
    @include background-size(cover);
    .bg-cover{
        position:absolute;
        right:0;
        left:0;
        bottom:0;
        z-index:1;
        height:100%;

        background-color:rgba(0, 5, 8, 0.75);
    }
}
.header-content{
    position:fixed;
    right:0;
    left:0;
    top:20%;
    z-index:2;

    text-align:center;

    color:#FFF;
    h1{
        padding-top: 20px;
        letter-spacing:2px;

        font-size:56px;
    }
    p{
        line-height:1.5em;

        font-size:18px;

        padding:50px 100px;
    }
}

.header-btns{
    margin:10px 0;
}
.scroll-down{
    position:absolute;
    right:0;
    left:0;
    bottom:0;

    text-align:center;


}
/**********************************
************, NAVBAR **************
**********************************/
.navbar{
    position:fixed;
    top:0;
    right:0;
    left:0;
    z-index:3;

    @include transition-property(all);
    @include transition-duration(0.8s);
}

.navbar{
    height:60px;
    line-height:60px;

    background:#222;
    .navbar-logo,.navbar-menu{
        display: block;
    }
}
.navbar-logo{
    float:left;
    font-size: 24px;
    color:#FFF;
    text-decoration:none;
    display: none;
    img{
        height:40px;
        vertical-align:middle;
    }
    &:hover,&:active,&:focus{color: #fff;text-decoration:none;}
}
.navbar-menu{
    overflow:hidden;
    text-align:right;
    a{
        text-decoration:none;

        text-transform:uppercase;
        font-size:14px;

        color:#FFF;
        padding:0 15px;
    }
    .active{
        color:$jaune;
    }
}

/**********************************
*******, STYLES GENERIQUES ********
**********************************/
.btn{
    text-decoration:none;

    @include border-radius(5px);

    padding:10px 20px;
    margin:0 10px;

    @include transition-property(all);
    @include transition-duration(0.8s);

}
.btn-transparent{
    border:1px solid #FFF;
    color:#FFF;
    &:hover{
        background:#FFF;
        color:#000;
    }
}
.btn-yellow{
    background:#fec503;
    color:#000;

    border:1px solid #fec503;
    &:hover{
        background:transparent;
        color:#FFF;
    }
}
/* .container{
    max-width:1170px;
    margin:auto;
} */

.content{
    position:absolute;
    right:0;
    left:0;
}

.navbar{
    z-index: 100;
    @include border-radius(0);
}
#cover{
    z-index: 10;
}
#content{
    padding-top: 60px;
    z-index: 50;
}
.section .head-title{padding-top: 80px;margin-top: 0;margin-bottom: 20px;}
.section.noHeadTitle{padding-top: 80px;}

.address{margin-bottom: 10px;}

.section{padding-bottom: 80px;}
.jaune{background-color: $jaune;}
.bleu{background-color: $bleu;color:#fff;}
.bleu a{color:$orange;}
.bleu a{color:$orange;}
.vert{background-color: $vert;color:#fff;}
.orange{background-color: $orange;}

/* FOOTER CONTENT
-------------------------------------------------- */
dl.dl-icons dt{width: 16px;}
dl.dl-icons dd {margin-left: 30px;}

footer{margin-top: 40px;color: #fff;background-color: $bleu;}

footer a{color: #fff;}
footer a:hover{color: #fff;}

footer .divers{padding: 20px 0;}
footer .partenaires{padding: 10px 0;border-top: 4px solid lighten($bleu, 20%);/*background-color: $vert;border-top: 4px solid lighten($vert, 5%);*/}

  .partenaires .row{text-align: center;}
  .partenaires .partenaire, .partenaires .nos_partenaires{display: inline-block;margin: 15px 40px;}
footer .copyright{padding: 20px 0;font-size: 12px;background: none repeat scroll 0 0 #100e0f;border-top: 4px solid #2a2526;}
  footer .copyright p{margin-bottom: 0;}
/* -------------------------------------------------- */